body{
    background-size: cover;
}

.heading
{
    margin: 6px;
    width: 100%;
    font-size: 23px;
}

#status, #number_of_object, #start
{
    font-size: 18px;
}

.copy_right_footer
{
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: gray;
  line-height: 3;
  text-align: center;
}

canvas
{
  border: 2px solid white;
  margin: 130px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px white;
}